{% extends "base.html" %}
{% load staticfiles %}


{% block content %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background:white;">
      <div class="container">
      	<div class="row">
	        <div class="col-sm-6">
	          <h1>IMPORT PAGE</h1>
	          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
	          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	        </div>
	        <div class="col-sm-6">
	          <p>
	            <img src="{% static 'img/stockchart.jpg' %}" class='img-responsive'/>
	          </p>
	        </div>
	    </div>
      </div>
    </div>


    <div class="container" style="text-align:center">
	    <div class="col-sm-6 col-sm-offset-3">
			<h1>Hello, Welcome home.</h1>

			{{result}}
		</div>
	</div>

{% endblock %}
